
<p id="notice"><%= notice %></p>
<%# <%= render "devise/shared/links" %>
<h3>All Adds</h3>

<table>
  <thead>

  </thead>

  <div class="jumbotron">
    <% @posts.each do |post| %>
    
        <% post.post_pics.each do |pic| %>
          <%= image_tag pic, width: "200", height: "200" %>
          <% end %>

        <p><%= post.user.full_name %></td>
          <%= post.price %></td>
          <%= post.body %></td>
        </p>
      <div>
        <%= link_to 'Show', post %>
         <% if user_signed_in? && current_user.id == post.user_id %> 
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to "Delete", "/posts/#{post.id}", method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
      </div>

      </tr>
    <% end %>
  </div>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>

