<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
<%# <%= image_tag @post.picture, width: "200" if @post.picture.attached? %>
</p>
<% if user_signed_in? && current_user.id == @post.user_id %> 
<%= link_to 'Edit', edit_post_path(@post) %> |
<%end%>

<h4>Comments</h4>

<div>
<p>
         <% @post.comments.each do |comment| %>
      <tr><%= @post.created_at %></tr>
      <tr><%= comment.user_id %></tr>
      <tr><%=comment.body%></tr>
      <br>
      <% end %>
</p>
</div>

<%=form_with(model: Comment.new, local: true, url: "/posts/#{@post.id}/comments/") do |form| %>
<%# <%= form.label :body %>
<%= form.text_field :body %>
<%= form.submit %>

<%end %>

<%= link_to 'Back', root_path %>


